footer {
  border-top: .5em  solid rgb(224, 224, 76);
  padding: 2em 0;
  /* background-image: url('../img/sky.jpg');
  background-position: 45% 75%; */
  /* color: fff; */
}
footer .container {
  /* font-weight: bold; */
}