footer {
  border-top: .5em  solid rgb(224, 224, 76);
  padding: .5em  0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wrapper img {
  width: 7em;
  padding-right: 1em;
}
