.tab-content {
  margin-top: 5em;

}

.list{
  font-size: 1.3em;
  margin-left: 1em;
}


.donate-column{
  min-width: 100px;
  max-width: 350px;
  position: sticky;
  margin-bottom: 3em;
  flex-basis: 18em;
}





.stop-war {
  position: sticky;
  top: 18em;
  margin: 0 auto;
  width: 15em;
}
.stop-war div {
  margin: 0 auto;
}

#appView {
  margin: 0;
}