.tab-content {

  display: none;
  min-height: 50%;

}
.tab-content.active{
  display: block;
  grid-area: content;
  width: 65%;
  margin-bottom: 1em;
  flex-basis: auto;
}

/* .main-content{
  position: relative;
} */

.main-content .tab-content, .donate-column {
  margin: 1em .75em 1em .75em;
}

.list{
  font-size: 1.3em;
  margin-left: 1em;
}

.tab-content p {
  font-size: 1.3em;
}

.donate-column{
  min-width: 100px;
  max-width: 350px;
  position: sticky;
  margin-bottom: 3em;
  flex-basis: 18em;
}



main.container {
  display: flex;
  margin: 5em auto 2em auto;
  justify-content: center;
  height: fit-content;


}


.stop-war {
  position: sticky;
  top: 18em;
  margin: 0 auto;
  width: 15em;
}
.stop-war div {
  margin: 0 auto;
}

#appView {
  margin: 0;
}