@media (max-width: 1024px){
.tab-content.active{
  width: 100%;
  justify-content: center;
 }
 /* .stop-war {
   margin: 0;
 } */
 .donate-colomn{
   margin: 0 auto;
 }
 main.container {
   flex-wrap: wrap;
 }
}