header {
  grid-area: header;
  border-bottom: .2em  solid rgba(2,159,199,.8);
  padding: 2em 0;
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
  border-top: .2em  solid rgb(224, 224, 76);
  padding: 2.5em 0;
}

.app {
  height: 100vh;
  background: #FAFAFA;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

.tab-button {
  border: none;
  font-size: 1em;

}
.tab-button:hover{
  box-shadow: .1em .1em  2px 1px rgba(2,159,199,.8);
}

.tab-content {
  display: none;
  min-height: 50%;
}

.main-content .column {
  margin-top: 4em;
}

.active {
  display: block;
}

.list{
  font-size: 1.3em; 
  margin-left: 1em;
}

.paragraph{
  font-size: 1.3em; 
}